@page "{id}"
@model Assignment3.Pages.Playlists.CreateModel
@{
    ViewData["Title"] = "Playlist";
}

<div class="content">
    <h1 class="headers">Create playlist</h1>

    <form method="post">
        <label asp-for="Playlist.Name"></label>
        <input asp-for="Playlist.Name" />
        <span asp-validation-for="Playlist.Name"></span>

        <button type="submit">Add new playlist</button>
    </form>

    <a class="artists-link back" asp-page="../Index">Home</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}